.grain{
    text-align: center;
}
.timer {
    padding: 30px;
    background: lightgrey;
    border-radius: 5px;
}

.timer-num{
    padding: 30px;
    font-size: 150px;
    text-align: center;
}

.temp{
    padding: 30px;
    display: inline-grid;
    grid-template-columns: auto auto;
    text-align: center;
    vertical-align: middle;
    wdith: 300px;
    height: 100px;
}

.temp_item {
    padding:10px;
    background-color: lightgrey;
    margin: 5px;
    width: 350px;
    text-align: center;
    vertical-align: middle;
    font-size: 120px;
}
.temp_label {
    font-size: 30;
}

#start_stop {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}
.start_stop_button{
    height: 200px;
    margin: 10px;
    font-size: 50px;
    border-width: 15px;
    background-color: white;
    border-radius: 15px;
}


.temp_parent {
    padding-bottom: 100px;
}

.send_input {
    font-size: 100px;
    margin: 20px;
    width: 250px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    height: 150px;
}
.send_button {
    font-size: 50px;
    margin: 20px;
    width: 250px;
    height: 150px;
    text-align: center;
    padding: 10px;
    vertical-align: middle;
    background-color: white;
    border-radius: 10px;
}

body {
    background-color: lightblue;
}

#dev_name {
    font-size: 100px;
    padding: 30px;
}
